
/* Main Page */

#Main_Page {
    display: flex;
}

#Main_Page h1, #Main_Page h2{
    margin-left: 15px;
}

#Main_Page a{
    font-size: 1.3em;
    color: #303030;
    text-decoration: none;
    padding-bottom: 3px;
    margin-left: 15px;
}

#Main_Page #Notation i{
    color: #0065FC;
}


#Main_Page section , aside {
    border: 0px solid #F2F2F2;
    border-radius: 10px;
    background-color: #F2F2F2;
    margin: 0.5em;

}

/*Hebergement */

#Hebergement{
    display: flex;
    flex-wrap: wrap;
    height: auto;
    width: 900px;
}
#Hebergement h2{
    font-style: normal;
    font-weight: normal;
}

#Hebergement em{
    font-style: normal;
    font-weight: bold;
}

#Hebergement section {
    border: 0px solid #303030;
    border-radius: 30px;
    text-align: left;
    background-color: white;
    box-shadow: 0 0 0.5em #303030;
    margin: 1em;
    padding: 0%;
}

#Hebergement img{
    border-radius: 30PX 30px 0px 0px;
    width: 14em;
    height: 10em;
    margin: 0.5em;
}

#Notation{
    margin-left: 20px;
}

/*Populaire*/

#Populaire section{
    display: flex;
    flex-direction: row;
    border: 0px solid #303030;
    border-radius: 30px;
    background-color: white;
    margin: 1.5em;
    box-shadow: 0 0 0.5em #303030;
}

#Populaire h2{
    font-style: normal;
    font-weight: normal;
}

#Populaire em{
    font-style: normal;
    font-weight: bold;
}

#Populaire img{
    border-radius: 30PX 0px 0px 30px;
    padding: 5px 5px;
    width: 11em;
    height: 13em;
}

#Pop_Text
{
    display: flex;
    flex-direction: column;
}

/*Activité*/

#Activite{
    display: flex;
    width: 90%;
}

#Activite section{
    display: flex;
    flex-direction: column;
    border: 1px solid #303030;
    border-radius: 30px;
    background-color: white;
    text-align:left;
    width: 300px;
    box-shadow: 0 0 0.4em #303030;
}

#Activite img{
    border-radius: 30PX 30px 0px 0px;
    height: 500px;
    width: 300px;
}

#Activite h1{
    margin-left: 5px;
}

#Activite #under_block{
    display: flex;
    flex-direction: column;
    margin: 0 2em 0 2em;
}

#Activite #under_block img {
height: 200px;
}

#Activite #under_block1{
    margin-bottom: 1em;
    border: 1px solid #303030;
    border-radius: 30px;
    box-shadow: 0 0 0.4em #303030;
}

#Activite #under_block2{
    margin-top: 1em;
    border: 1px solid #303030;
    border-radius: 30px;
    box-shadow: 0 0 0.4em #303030;
}