/* Main Page */

#Main_Page {
    display: flex;
}

#Main_Page h1, #Main_Page h2{
    margin-left: 15px;
}

#Main_Page a{
    font-size: 1.3em;
    color: #303030;
    text-decoration: none;
    padding-bottom: 3px;
    margin-left: 15px;
    font-weight: bold;
    padding-left: 5px;
}




#Main_Page section , aside {
    border: 0px solid #F2F2F2;
    border-radius: 10px;
    background-color: #F2F2F2;
    margin: 0.5em;

}

/*Hebergement */

#Hebergement{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 56em;
    padding: 1em;
}

h1{
    font-style: normal;
    font-weight: bold;
    font-size:1.3em;
    padding-bottom: 1px;
    margin-bottom: 10px;
}

h2{
    font-style: normal;
    font-weight: normal;
    font-size:1em;
    padding-top: 1px;
    margin-bottom: 15px;
}

#Hebergement em{
    font-style: normal;
    font-weight: bold;
}

#Hebergement section {
    display: flex;
    flex-direction: column;
    border: 0px solid #303030;
    border-radius: 30px;
    text-align: left;
    background-color: white;
    box-shadow: 0 0 0.5em #303030;
    padding: 5px;
    height: 14.5em;
    line-height: 0.1em;
}

#Hebergement img{
    border-radius: 30PX 30px 0px 0px;
    width: 17em;
    height: 9em;
}

#Hebergement a
{
    align-self: flex-start;
}

#Liste_Hebergement
{
    display: flex;
    flex-flow: row wrap;

}

.Notation{
    margin-left: 15px;
}


.Notation i{
    color: #0065FC ;
}

.Notation i[id="Vide"]
{
    color: #DEEBFF ;
}

/*Populaire*/
#Populaire
{
    padding: 0.5em;
}

#Populaire section{
    display: flex;
    flex-direction: row;
    border: 0px solid #303030;
    border-radius: 30px;
    background-color: white;
    margin: 1.5em;
    box-shadow: 0 0 0.5em #303030;
    padding: 0.4em;
    height: 11em;
}

#Populaire em{
    font-style: normal;
    font-weight: bold;
}

#Populaire img{
    border-radius: 30PX 0px 0px 30px;
    width: 8em;
    height: 11em;
}

p.Titre
{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-size: 1.3em;
    font-style: normal;
    font-weight: bold;
    padding: 0px 1.5em;
}

.Texte_Populaire
{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-bottom: 5px;
}


/*Activité*/

#Activite{
    display: flex;
    padding: 1em;
}

#Activite section{
    display: flex;
    flex-direction: column;
    border: 1px solid #303030;
    border-radius: 30px;
    background-color: white;
    text-align:left;
    height: 500px;
    width: 300px;
    box-shadow: 0 0 0.4em #303030;
}

#Activite img{
    border-radius: 30PX 30px 0px 0px;
    height: 90%;
    width: 300px;
}

#Activite h1{
    margin-left: 5px;
    padding-left: 0.5em;
}

#Activite #under_block{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 0 2.5em 0 2.5em;
}

#Activite #under_block img 
{
    height: 75%;
}

#Activite #under_block1{
    margin-bottom: 1em;
    border: 1px solid #303030;
    border-radius: 30px;
    box-shadow: 0 0 0.4em #303030;
    height: 14em;
}

#Activite #under_block2{
    margin-top: 1em;
    border: 1px solid #303030;
    border-radius: 30px;
    box-shadow: 0 0 0.4em #303030;
    height: 14em;
}