@media only screen and (max-device-width: 480px){
    
html 
{

    font-family: 'Raleway', Arial, serif;
    margin-right: 5%;
    margin-left: 5%;
    margin-top: 20px;
    width: 1300px;
}

h1
{
    font-size: 1.3em;
}


/*Manage Header section */
header
{
    background-color: white;
}

header img
{
    width: 400px;
    height: 400px;

}
#Logo
{
    position: absolute;
    top :0; left : 50px;
}

#Fixed_Header
{
    position: fixed;
    background-color: white;
    padding-top: 200px;
    top: 0; left: 0; right: 0; bottom: 75%;
}

#Navigation 
{
    position: fixed;
    display: flex;
    flex-direction: column;
    background-color: white;

}

#Lien
{
    order: 2 ;
    position: absolute;
    top: 150px;
    left: 0;
}

header ul 
 {
    list-style-type: none;
    display: flex;
}



header a 
{
    font-size: 5em;
    color: #303030;
    text-decoration: none;
    margin: 0;
    padding: 0;
}
.Menu a
{
    border-bottom: 8px solid #F2F2F2;
    padding: 0px 50px 30px 50px;
    margin: 0;
}

.Menu a:hover
{
    border-bottom: 8px solid #0065FC;
    padding: 0px 50px 30px 50px;
    color: #0065FC;
}

.Menu a:active
{
    border-bottom: 4px solid #0065FC;
    padding: 0px 50px 30px 50px;
    color: #0065FC;
}

#Connection a
{
    color: #0065FC;
    position: absolute;
<<<<<<< HEAD
    left: 800px;
=======
    left: 700px;
>>>>>>> modif_eval
}


.Standard_Bold
{
    font-weight: bold;
}


/*Footer */

footer
{
    background-color: #F2F2F2;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-top: 2%;
    text-align: left;
    width: 1180px;
    padding: 2em;
}

footer div 
{
    display: flex;
    flex-direction: column;
    padding-left: 5em;
}
footer h1{
    font-size: 5em;
    padding-top: 2em;
    padding-bottom: 0.5em;
}

footer a
{
    font-size: 4em;
    color: #303030;
    text-decoration: none;
    padding-bottom: 40px;
}

}