
@font-face{
    font-family: 'Raleway', sans-serif;
    src: local('./Police/Raleway-Regular.ttf');
}

@font-face{
    font-family: 'Raleway', sans-serif;
    font-weight: bold;
    src: local('./Police/Raleway-Regular.ttf');
}
