/*Search Items */

#Recherche
{
    margin-top: 100px;
    align-items: baseline;
    
}

form
{
    display: flex;
    width: 430px;
    border-radius: 20px 20px 20px 20px;
}
form i 
{
    border-radius: 20px 0px 0px 20px;   
    font-size: 2em;
    padding: 8px 8px ;
    background-color: #f2f2f2;
}


input[type=text] 
{
    font-size: 1.5em;
    line-height: 50px;
    border: 2px 2px 2px 2px solid  #303030; 
}

input[type=submit]
{
    font-size: 1.5em;
    background-color:  #0065FC;
    color: whitesmoke;
    border-radius: 0px 20px 20px 0px;
    line-height: 50px;
    border: 0px;
}

#Filtre 
{
    display: flex;
    flex-direction: row;
    align-items: center;
}

#Filtre i 
{
    background-color: #DEEBFF;
    color: #0065FC;
    font-size: 1.6em;
    width: 1.6em;
    text-align: center;
    line-height: 1.6em;
    border-radius: 25px; /* or 50% width & line-height */
}

#Filtre li 
{
    border: 2px solid  #F2F2F2;
    border-radius: 25px;
    padding-right : 10px;

}