/*Search Items */

@media only screen and (max-width: 800px) and (orientation: landscape)
{

#Recherche
{
    margin-top: 100px;    
    padding: 1em;
    font-size: 30px;
}

#Recherche .Titre_1{
    font-size: 1.8em; 
    margin-top: 1em;
}

form
{
    display: flex;
    width: 330px;
    border-radius: 20px 20px 20px 20px;    
}
form i 
{
    border-radius: 40px 0px 0px 40px;   
    font-size: 35px;
    padding-top: 35px;
    padding-left: 25px;
    padding-right: 20px;
    padding-bottom: 0;
    background-color: #f2f2f2;

}


input[type=text] 
{
    font-size: 35px;
    line-height: 20px;
    border: 1px solid  #f2f2f2; 
    width: 700px;
    height: 100px;
    font-weight: bold;
}

#Submit_phone
{
    display: inline;
    font-size: 5px;
    background-color:  #0065FC;
    border-radius: 40px;
    color: whitesmoke;
    border: 0;
    
}
#Submit_phone i
{
    background-color:  #0065FC;
    border-radius: 40px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
    color: whitesmoke;
}

#Submit_desktop
{
    display: none;
}

#Bouton_recherche
{
    background-color:  #0065FC;
    color: whitesmoke;
}

#Filtre 
{
    display: flex;
    flex-direction: column;
    align-content: flex-start;
    justify-content: flex-start;
}

#Filtre h2 {
    font-size: 45px;
    padding-bottom: 0;
    margin-top: 50px;
    margin-left: 20px;
}

#List_Filtre
{
    display: flex;
    flex-direction: column;
    align-content: flex-start;
    flex-wrap: wrap;
}

#List_Filtre .Titre_1
{
font-size: 30px;
padding: 0;
margin-bottom: 0px;
margin-left: 50px;
}


#Filtre i 
{
    background-color: #DEEBFF;
    color: #0065FC;
    font-size: 1.3em;
    width: 1.6em;
    text-align: center;
    line-height: 1.6em;
    border-radius: 50%; /* or 50% width & line-height */
}

#Filtre li:hover
{
    background-color: #DEEBFF;
}

#Filtre li:hover i
{
    background-color: #0065FC;
    color : white;
}

#Info_filtre 
{
display: flex;
flex-direction: row;
align-content: flex-start;
align-items: baseline;
}

#Info_filtre div
{
    font-size: 1em;
}

#Info_filtre i
{
    background-color: white;
    color: #0065FC;
    font-size: 1em;
    width: 1em;
    text-align: center;
    line-height: 1em;
    border: 2px solid  #F2F2F2;
    border-radius: 50%; /* or 50% width & line-height */
    padding: 10px 15px 10px 15px ;
    margin-right: 1em;
}

#Filtre ul{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

#Filtre li 
{
    border: 4px solid  #F2F2F2;
    border-radius: 80px;
    padding-bottom: 5px;
    padding-right: 25px;
    font-size: 0.25em;
    margin-top: 40px;
    margin-right: 50px;
}
}